body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



header {
    background-color:teal;
    margin: 0 0 0 0;
    padding: 1rem;
}

img {
    margin: 1rem;
}

.priceDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.smallItem {
    flex: 1;
    min-height: 10rem;
    width: 12rem;
    background-color: #d6d6d6;
    margin: 1rem;
    padding: 1rem;
}

.purchase {
    height: 15rem;
    width: 50%;
    background-color: #d6d6d6;
    margin: auto;
    display: none;
    flex-direction: row;
    align-items: center;
}